/*.bottom-menu-vol div {
	margin-top:25px; 
	background-color:red;
}*/

.bottom-menu-vol li {
    float:left;
    width: 20%;
    height:50px;
    overflow:hidden;
    margin-top: 4px;
    list-style-type:none;
    border-top: 0px;
    border-bottom: 0px;
}

/*.bottom-menu-vol .play {
    width: 100%;
    height: auto;
    min-width: 65px;
    max-width: 70px;
    margin-top: 8px;
}*/

/*.bottom-menu-vol li img {
    width: 50px;
    height: 50px;
    margin-top: 28px;
}*/

.bottom-menu-vol li a:active {
    filter:Gray; 
    -webkit-filter: grayscale(100%);
}

.bottom-menu-vol li a {
    display:block;  
    font-weight:normal;
    text-decoration:none;
    text-align: center;
}

.bottom-menu-vol li a h4 {
    text-align: center;
    margin-top: -5px;
    color: white;
}

.bottom-menu-vol li a h4:active {
    color: red;
}

/*单独标签*/
.bottom-menu-vol-btn {
    width: 35px;
    height: 35px;
    margin-top: 5px;
}

.bottom-menu-vol-btn-mute {
    width: 45px;
    height: 45px;
    margin-top: 0px;
}