.bottom-menu-small li {
    float:left;
    width: 20%;
    height:80px;
    overflow:hidden;
    list-style-type:none;
    border-top: 0px;
}

.bottom-menu-small .play {
    width: 100%;
    height: auto;
    min-width: 65px;
    max-width: 70px;
    margin-top: 8px;
}

.bottom-menu-small li img {
    width: 25px;
    height: 25px;
    margin-top: 28px;
}

.bottom-menu-small li a:active {
    filter:Gray; 
    -webkit-filter: grayscale(100%);
}

.bottom-menu-small li a {
    display:block;  
    font-weight:normal;
    text-decoration:none;
    text-align: center;
}

.bottom-menu-small li a h4 {
    text-align: center;
    margin-top: 0px;
    color: white;
	font-size: 11px;
}

.bottom-menu-small li a h4:active {
    color: red;
}